{% extends "base.html" %}
{% block title  %}Sign Teach{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" id="Questions" style="margin-top: 35px; text-decoration: none;"><a href="/questions" style="color:#37393b;">Questions</a></button>
                <button class="btn btn-primary" id="Learning" style="margin-top: 35px; text-decoration: none;"><a href="/learning" style="color:#37393b;">Learn!</a></button>
            </div>
        </div>
    </div>
{% endblock %}
